.container{
  width: 1000px;
  display: flex;
  opacity: 1;
  margin: 50px auto;
}

.main-content{
  width:100%;
}

.content{
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  background-color: #fdfcfb;
  padding:20px;
gap:20px;
  row-gap:20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.content h1{

    width:100%;
    opacity: 0.7;

}
